---

---

<section class="jumbotron hero bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-area">
                <h1 class="text-warning ">Looking for A Better Website For Your business.</h1>  
                <p>We can offers you top class IT and Marketing Services that will stand you out from your competitors.</p>
                <button type="button" class="btn btn-dark rounded-pill mb-5">View My Work</button>
            </div>
            <div class="col-md-6 col-sm-12 img-area">
               <img src="/assets/undraw_solution_mindset_re_57bf.svg" alt="website solutions">
            </div>
           
        </div>
    </div>
</section>

<style>
    .hero {
        margin-top: 40px;
    }
    
    .text-area {
        padding-left: 0px;
    }

    .text-area h1{
        font-size: 55px;
        line-height: 60px;
        font-weight: 900;
    }
    .text-area p{
        font-size: 20px;
    }
    .img-area img {
        width: 100%;
    }

    .container .row {
        display: flex;
        align-items: center;
        //gap: 10px;
    }

    .hero button {
        padding: 15px 50px;
    }
</style>