---

---


<section class="how-can-help text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>How can we help you</h2>
                <div class="services">
                    <div class="single-service mb-5">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="/assets/figma.png"  alt="">
                            </div>
                            <div class="col-md-10">
                                <h4>Website Design</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta suscipit consectetur odit aliquid exercitationem!</p>
                                <a href="/" class="text-warning ">Make a inquiry.....</a>
                            </div>
                        </div>
                    </div>

                    <div class="single-service mb-5">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="/assets/dev.png"  alt="">
                            </div>
                            <div class="col-md-10">
                                <h4>Website Development</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta suscipit consectetur odit aliquid exercitationem!</p>
                                <a href="/" class="text-warning ">Make a inquiry.....</a>
                            </div>
                        </div>
                    </div>

                    <div class="single-service mb-5">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="/assets/dev.png"  alt="">
                            </div>
                            <div class="col-md-10">
                                <h4>SEO Services</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta suscipit consectetur odit aliquid exercitationem!</p>
                                <a href="/" class="text-warning ">Make a inquiry.....</a>
                            </div>
                        </div>
                    </div>

                    <div class="single-service mb-5">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="/assets/dev.png"  alt="">
                            </div>
                            <div class="col-md-10">
                                <h4>Website Development</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta suscipit consectetur odit aliquid exercitationem!</p>
                                <a href="/" class="text-warning ">Make a inquiry.....</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<style>

    .how-can-help h4, a, p{
      margin:0px;
    }


    .how-can-help {
        margin-top: 200px;
        background-color: #212529;
        padding: 100px 0px;
    }
    .how-can-help h2{
       font-size: 55px;
    }
    .how-can-help img{
       width: 100%;
    }
   
    .how-can-help h4, a, p{
      margin-bottom:10px;
    }

    .services {
        margin-top:100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }


</style>