---
import Hero from "./Hero.astro";
import Clients from "./Clients.astro";
import HowCanHelp from "./howCanHelp.astro";
import Projects from "./projects.astro";
import Testimonials from "./testimonials.astro";
import Footer from "./footer.astro";
---

<main>
    <Hero />
    <Clients />
    <HowCanHelp />
    <Projects />
    <Testimonials />
    <Footer />
</main>