---

---

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Clients testimonials</h2>
                <div class="testimonial ">
                    <img src="/assets/logo2.png" alt="logo" width="20%">
                    <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium, at, quas accusamus exercitationem fuga, doloremque debitis nobis aspernatur officiis reiciendis iure maxime magnam necessitatibus.“</p>
                    <div class="user">
                        <img src="/assets/avatar.png" alt=""  width="12%">
                        <div class="text-wrap">
                            <h5>Some Sample Name </h5>
                            <p>CEO - Some Sample Company</p>
                        </div>
                    </div>
                </div>


                <div class="testimonial">
                    <img src="/assets/logo2.png" alt="logo" width="20%">
                    <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium, at, quas accusamus exercitationem fuga, doloremque debitis nobis aspernatur officiis reiciendis iure maxime magnam necessitatibus.“</p>
                    <div class="user">
                        <img src="/assets/avatar.png" alt=""  width="12%">
                        <div class="text-wrap">
                            <h5>Some Sample Name </h5>
                            <p>CEO - Some Sample Company</p>
                        </div>
                    </div>
                </div>


                <div class="testimonial">
                    <img src="/assets/logo2.png" alt="logo" width="20%">
                    <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laudantium, at, quas accusamus exercitationem fuga, doloremque debitis nobis aspernatur officiis reiciendis iure maxime magnam necessitatibus.“</p>
                    <div class="user">
                        <img src="/assets/avatar.png" alt=""  width="12%">
                        <div class="text-wrap">
                            <h5>Some Sample Name </h5>
                            <p>CEO - Some Sample Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .testimonials {
        margin-top:100px;
        font-weight: 600;
    }
    .testimonials h2{
      
        font-size: 55px;
    }
    .testimonials p {
        font-weight: 400;
        margin-top: 10px;
    }

    .testimonials .user {
        display: flex;
        align-items: center;
        gap:10px;
    }

    .testimonials .user p, h5{
        margin: 0px;
    }

    .testimonials .user p{
        font-size: 12px;
    }

    .testimonial {
        margin-top:80px;
    }
</style>